@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f1f5f9;
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}